.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, #lezioni .row > .right{
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;

}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}

#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

[background="grey"]{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}

.clear {
  clear:both;
}


/* SMARTPHONE */
@media screen and (max-width: 568px) {
  #lezioni .row > .left, #lezioni .row > .right{
    width: 100%;
    margin-bottom: 15px;
  }
  body{
    background-color: #cecece;
  }
  .container{
    background-color: #fff;
    padding:5px;
  }
  #lezioni,
  #why {
    background-color: white;
  }
  .row {
    width: 90%;
    margin-top: 0;
    margin-bottom: 30px;
  }
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
    width: 100%;
    margin-bottom: 20px;
  }
  h1{
    margin-top:0;
    text-transform: uppercase;
    font-size: 20px;
    padding:5px;
  }
  img{
    margin: 10px 0px;
    height: 150px;
  }
  #why .row img {
    padding:5px;
  }
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    margin-top:10px;
  }
  hr{
    display: none;
  }
}



/* TABLET */

@media screen and (min-width: 570px) and (max-width:1080px) {
  hr{
    width: 95%;
    margin:0 auto;
    margin-top: 30px;
  }
  .row{
    margin-top:0;
  }
  h1{
    text-transform: uppercase;
    margin: 30px 0px;
  }
  [background="grey"] {
    background-color: white;
  }
  #why .row > .first, #why .row > .second, #why .row > .third {
    margin-top: 20px;
  }
}
